<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.answer.dao.mapper.HrClockConfigMapper" >
  <resultMap id="BaseResultMap" type="com.test.answer.dao.model.HrClockConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clock_in_time" property="clockInTime" jdbcType="VARCHAR" />
    <result column="clock_out_time" property="clockOutTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, clock_in_time, clock_out_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.answer.dao.model.HrClockConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hr_clock_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hr_clock_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hr_clock_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.answer.dao.model.HrClockConfigExample" >
    delete from hr_clock_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.answer.dao.model.HrClockConfig" useGeneratedKeys="true" keyProperty="id" >
    insert into hr_clock_config (clock_in_time, clock_out_time)
    values (#{clockInTime,jdbcType=VARCHAR}, #{clockOutTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.answer.dao.model.HrClockConfig" useGeneratedKeys="true" keyProperty="id" >
    insert into hr_clock_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clockInTime != null" >
        clock_in_time,
      </if>
      <if test="clockOutTime != null" >
        clock_out_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clockInTime != null" >
        #{clockInTime,jdbcType=VARCHAR},
      </if>
      <if test="clockOutTime != null" >
        #{clockOutTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.answer.dao.model.HrClockConfigExample" resultType="java.lang.Integer" >
    select count(*) from hr_clock_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hr_clock_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clockInTime != null" >
        clock_in_time = #{record.clockInTime,jdbcType=VARCHAR},
      </if>
      <if test="record.clockOutTime != null" >
        clock_out_time = #{record.clockOutTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hr_clock_config
    set id = #{record.id,jdbcType=INTEGER},
      clock_in_time = #{record.clockInTime,jdbcType=VARCHAR},
      clock_out_time = #{record.clockOutTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.answer.dao.model.HrClockConfig" >
    update hr_clock_config
    <set >
      <if test="clockInTime != null" >
        clock_in_time = #{clockInTime,jdbcType=VARCHAR},
      </if>
      <if test="clockOutTime != null" >
        clock_out_time = #{clockOutTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.answer.dao.model.HrClockConfig" >
    update hr_clock_config
    set clock_in_time = #{clockInTime,jdbcType=VARCHAR},
      clock_out_time = #{clockOutTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.test.answer.dao.model.HrClockConfigExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hr_clock_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>